body {
  background: url(birdsfly.jpg);
}


h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.textcolor{
  color: white;
  font-family: Times, Helvetica, sans-serif;
}


#title {
  font-family: Times, Helvetica, sans-serif;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: Times, Helvetica, sans-serif;
  width: 23%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #3299a8;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.dropbtn {
  background-color: #3299a8;
  font-family: Times, Helvetica, sans-serif;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: left;
  text-align: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3197d6;
  min-width: 160px;
  box-shadow: none
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-family: Times, Helvetica, sans-serif;
  font-size: 16px;
  display: block;
}

.dropdown-content a:hover {background-color:#008b84;}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {background-color:#008b84;}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* instagram */
.fa-instagram {
  /* background: #405DE6;
  color: white; */
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 200px; /* change this to change the size*/

}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #2867B2;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
